< [Contents](_Intro.ipynb) | [Lesson 1: What is Python](Lesson1.ipynb) | [Lesson 3: Python Objects](Lesson3.ipynb) >

### **Lesson 2: Python Objects**
#### **Contents**
<dev align="left">
<style>
td, th {
   border: none!important;
}
</style>
| | |
|:-----|:------------|
|A. | [Variables and Assignment](#a-variables-and-assignment)|
|B. | [String Data Type](#b-string-data-type)|
|C. | [Numerical Data Types](#c-numerical-data-types)|
|D. | [Lists](#d-lists)|
|E. | [Tuples](#e-tuple)|
|F. | [Sets](#f-set)|
|G. | [Dictionary](#g-dictionary)|
|H. | [Boolean](#h-boolean)|
|I. | [Range](#i-range)|
</dev>

#### **A. Variables and Assignment**

- variable is a string of characters to store information. They may contain alphanumeric characters, underscores, and are case sensitive.
- asignment operator "**=**" is used to assign information

Examples

In [28]:
x = 0.5
x

0.5

In [29]:
y = 0.2
y

0.2

IPython kernel require $\texttt{\%}$ fo specify commands. 

Example is $\texttt{\%whos}$ which lists all the variables.

In [30]:
%whos

Variable      Type       Data/Info
----------------------------------
a             int        11
b             int        3
c             float      -4.15
m             str        136 136 136 136 136
p             str        This is a string. Math
s             str        This is a string.
sample_list   list       n=7
w             str        Math
x             float      0.5
y             float      0.2
z             complex    (1.5+0j)

<[Lesson 2 Contents](#contents)>
#### **B. String Data Type**

- sequence of characters and spaces
- written inside '...' or "..."
- $\texttt{print}$ is used for output

ASCII<br>
"$\texttt{abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ}$"<br>
"$\texttt{0123456789}$"

Whitespaces<br>
"\t" for tab and "\n" for newline

In [31]:
s = "This is a string."
print(s)
type(s)

This is a string.

str

- $\texttt{len}()$ indicates the size of the string

In [32]:
len(s)

17

- indexed to locate character. Index start with 0. One may also consider range of elements by $\texttt{a:b}$, i.e. from $a$ up to $b-1$ element.

| T | h | i | s |   | i | s |   | a |   | s  | t  | r  | i  | n  | g  | . |
|---|---|---|---|---|---|---|---|---|---|----|----|----|----|----|----|---|
| 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 | 12 | 13 | 14 | 15 | 16 |

In [33]:
s[8]

'a'

In [34]:
s[7:14]

' a stri'

In [35]:
s[:8]

'This is '

In [36]:
s[9:]

' string.'

- concatenate strings using $\texttt{+}$

In [37]:
w = "Math"
p = s + " " + w
print(p)

This is a string. Math

- duplicate strings and concatenate using $\texttt{*}$.

In [38]:
m = 5*"136 "
print(m)

136 136 136 136 136

- write string in upper case

In [39]:
w.upper()

'MATH'

<[Lesson 2 Contents](#contents)>
#### **C. Numerical Data Types**

- **int** for Integers: ..., -2, -1, 0 , 1, 2, ...
- **float** for FLoating-point numbers (double format)
- **complex** for Complex numbers

In [40]:
type(123)

int

In [41]:
type(123.)

float

In [42]:
type(1.111111)

float

In [43]:
type(1.1 + 2j)

complex

- to get the real and imaginary parts of a complex number $\texttt{z}$, use $\texttt{z.real}$ and $\texttt{z.imag}$, respectively.

In [44]:
z = complex(3,4) #equivalent to 3 + 4j
print("real part of z is", z.real)
print("imaginary part of z is",z.imag)

real part of z is 3.0
imaginary part of z is 4.0

Arithmetic Operators<br>
(table copied from [Python Standard Library, Built-in Types](https://docs.python.org/3/library/stdtypes.html#index-5))

| Operation       | Result                                                                      | Notes  | Full documentation |
|-----------------|-----------------------------------------------------------------------------|--------|--------------------|
| x + y           | sum of x and y                                                              |        |                    |
| x - y           | difference of x and y                                                       |        |                    |
| x * y           | product of x and y                                                          |        |                    |
| x / y           | quotient of x and y                                                         |        |                    |
| x // y          | floored quotient of x and y                                                 | (1)(2) |                    |
| x % y           | remainder of x / y                                                          | (2)    |                    |
| -x              | x negated                                                                   |        |                    |
| +x              | x unchanged                                                                 |        |                    |
| abs(x)          | absolute value or magnitude of x                                            |        | [abs()](https://docs.python.org/3/library/functions.html#abs)              |
| int(x)          | x converted to integer                                                      | (3)(6) | [int()](https://docs.python.org/3/library/functions.html#int)              |
| float(x)        | x converted to floating point                                               | (4)(6) | [float()](https://docs.python.org/3/library/functions.html#float)            |
| c.conjugate()   | conjugate of the complex number c                                           |        |                    |
| divmod(x, y)    | the pair (x // y, x % y)                                                    | (2)    | [divmod()](https://docs.python.org/3/library/functions.html#divmod)           |
| pow(x, y)       | x to the power y                                                            | (5)    | [pow()](https://docs.python.org/3/library/functions.html#pow)              |
| x ** y          | x to the power y                                                            | (5)    |                    |

1. Also referred to as integer division. For operands of type $\texttt{int}$, the result has type $\texttt{int}$. For operands of type $\texttt{float}$, the result has type $\texttt{float}$. In general, the result is a whole integer, though the result’s type is not necessarily int. The result is always rounded towards minus infinity: $\texttt{1//2}$ is 0, $\texttt{(-1)//2}$ is -1, $\texttt{1//(-2)}$ is -1, and $\texttt{(-1)//(-2)}$ is 0.

2. Not for complex numbers. Instead convert to floats using $\texttt{abs()}$ if appropriate.

3. Conversion from $\texttt{float}$ to $\texttt{int}$ truncates, discarding the fractional part. 

4. float also accepts the strings “$\texttt{nan}$” and “$\texttt{inf}$” with an optional prefix “$\texttt{+}$” or “$\texttt{-}$” for Not a Number ($\texttt{NaN}$) and positive or negative infinity.

5. Python defines $\texttt{pow(0, 0)}$ and $\texttt{0 ** 0}$ to be 1, as is common for programming languages.

6. The numeric literals accepted include the digits 0 to 9 or any Unicode equivalent.

In [45]:
a = 11 
b = 3 
c = -4.15
z = complex(1.5)
print(f"a = {a}, b = {b}, c = {c}, z = {z}")

print(f"a + b = {a + b}")
print(f"a - b = {a - b}")
print(f"a * b = {a * b}")
print(f"a / b = {a / b}")
print(f"a // b = {a // b}")
print(f"a % b = {a % b}")
print(f"-a = {-c}")
print(f"+a = {+c}")
print(f"abs(a) = {abs(c)}")
print(f"int(a) = {int(c)}")
print(f"float(a) = {float(c)}")
print(f"z.conjugate() = {z.conjugate()}")
print(f"divmod(a,b) = {divmod(a,b)}")
print(f"a ** b =  {a ** b}")
print(f"pow(a,b) =  {pow(a,b)}")

a = 11, b = 3, c = -4.15, z = (1.5+0j)
a + b = 14
a - b = 8
a * b = 33
a / b = 3.6666666666666665
a // b = 3
a % b = 2
-a = 4.15
+a = -4.15
abs(a) = 4.15
int(a) = -4
float(a) = -4.15
z.conjugate() = (1.5-0j)
divmod(a,b) = (3, 2)
a ** b =  1331
pow(a,b) =  1331

<[Lesson 2 Contents](#contents)>
#### **D. Lists**

- sequential data structure
- defined using [...]
- can hold any tyoe of data

In [46]:
sample_list = ["Math", 136, ":", "Introduction", "to", "Numerical", "Analysis"]
print(sample_list)
print(len(sample_list))
print(type(sample_list))

['Math', 136, ':', 'Introduction', 'to', 'Numerical', 'Analysis']
7
<class 'list'>

| Math | 136 | : | Introduction | to | Numerical | Analysis |
|:--------:|:-----:|:-----:|:----------------:|:------:|:-------------:|:------------:|
| 0 | 1 | 2 |        3       |   4  |      5      |      6     |

In [53]:
print(1, sample_list[0], type(sample_list[0]))
print(2, sample_list[1], type(sample_list[1]))
print(3, sample_list[2], type(sample_list[2]))
print(4, sample_list[3], type(sample_list[3]))
print(5, sample_list[4], type(sample_list[4]))
print(6, sample_list[5], type(sample_list[5]))
print(7, sample_list[-1])
print(8, sample_list[0:5])
print(9, sample_list[:2])
print(10, sample_list[5:])

1 Math <class 'str'>
2 136 <class 'int'>
3 : <class 'str'>
4 Introduction <class 'str'>
5 to <class 'str'>
6 Numerical <class 'str'>
7 Analysis
8 ['Math', 136, ':', 'Introduction', 'to']
9 ['Math', 136]
10 ['Numerical', 'Analysis']

In [7]:
sample_list[0][3]

'h'

- we can have nest of lists

In [50]:
new_list = [sample_list[:2], sample_list[2], sample_list[5:]]
print(new_list)

[['Math', 136], ':', ['Numerical', 'Analysis']]

-  concatenate lists using $\texttt{+}$

In [55]:
new = ["email",":","jgbueno"]
new_sample_list = sample_list + new
print(new_sample_list)

- append, insert, remove

In [66]:
new_sample_list = sample_list + new
new_sample_list.append("Junius")
print(new_sample_list)

new_sample_list.insert(-2,"Email")
print(new_sample_list)

del new_sample_list[-1]
print(new_sample_list)

['Math', 136, ':', 'Introduction', 'to', 'Numerical', 'Analysis', 'jgbueno', 'Junius']
['Math', 136, ':', 'Introduction', 'to', 'Numerical', 'Analysis', 'Email', 'jgbueno', 'Junius']
['Math', 136, ':', 'Introduction', 'to', 'Numerical', 'Analysis', 'Email', 'jgbueno']

- $\texttt{list()}$ function turns sequence into list of characters

In [67]:
list("Junius")

['J', 'u', 'n', 'i', 'u', 's']

<[Lesson 2 Contents](#contents)>
#### **E. Tuple**

- immutable, heterogeneous list
- enclosed by (...)

In [71]:
sample_tuple = (1,2,3)
print(1, sample_tuple)
print(2, sample_tuple[0:2])
# sample_tuple[1] = 5

1 (1, 2, 3)
2 (1, 2)

<[Lesson 2 Contents](#contents)>
#### **F. Sets**

- store unordered collection and removing duplicates
- enclosed by {...}

In [72]:
{1,2,3,4,5,4,2,3,1,5,6,8,5,7,8,9,4,1,2,4,6,41}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 41}

In [73]:
set([1,2,3,4,5,4,2,3,1,5,6,8,5,7,8,9,4,1,2,4,6,41])

{1, 2, 3, 4, 5, 6, 7, 8, 9, 41}

In [75]:
set("BookkEeper")

{'B', 'E', 'e', 'k', 'o', 'p', 'r'}

- union and intersection of sets

In [76]:
set_1 = {1,2,3,4,5,4,2,3,1,5,6,8,5,7,8,9,4,1,2,4,6,41}
set_2 = {1,2,4,6,8,4,32,3,4,6,7,1,8,9,432,2,2,4,8,7,4,3}

print(set_1.union(set_2))
print(set_1.intersection(set_2))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 32, 41, 432}
{1, 2, 3, 4, 6, 7, 8, 9}

<[Lesson 2 Contents](#contents)>
#### **G. Dictionary**

- key-value pairs
- indexed by keys (string, number, or tuple (not list))
- each key corresponds a value

In [78]:
my_details = {"FirstName":"Junius Wilhelm", "MiddleName":"Garcia","SurName": "Bueno", "Age":25,"Affiliation":"UP Baguio", "Designation":"Teaching Fellow"}
my_details

{'FirstName': 'Junius Wilhelm',
 'MiddleName': 'Garcia',
 'SurName': 'Bueno',
 'Age': 25,
 'Affiliation': 'UP Baguio',
 'Designation': 'Teaching Fellow'}

In [80]:
my_details["FirstName"]

'Junius Wilhelm'

In [85]:
fullname = my_details["FirstName"] + " " + my_details["MiddleName"] + " " + my_details["SurName"]
fullname

'Junius Wilhelm Garcia Bueno'

In [89]:
my_details.keys()

dict_keys(['FirstName', 'MiddleName', 'SurName', 'Age', 'Affiliation', 'Designation'])

In [90]:
my_details.values()

dict_values(['Junius Wilhelm', 'Garcia', 'Bueno', 25, 'UP Baguio', 'Teaching Fellow'])

- redefine element

In [91]:
my_details["Age"] = 26
my_details["Age"]

26

- introduce new dictionary

In [92]:
my_details.update({"DateUpdated":"02/03/2024"})
my_details

{'FirstName': 'Junius Wilhelm',
 'MiddleName': 'Garcia',
 'SurName': 'Bueno',
 'Age': 26,
 'Affiliation': 'UP Baguio',
 'Designation': 'Teaching Fellow',
 'DateUpdated': '02/03/2024'}

- remove a key

In [93]:
my_details.pop("Age")
my_details

{'FirstName': 'Junius Wilhelm',
 'MiddleName': 'Garcia',
 'SurName': 'Bueno',
 'Affiliation': 'UP Baguio',
 'Designation': 'Teaching Fellow',
 'DateUpdated': '02/03/2024'}

<[Lesson 2 Contents](#contents)>
#### **H. Boolean**